#welcomeLine .pull-right a {
  margin-left: 8px;
}
.container {
  width: 1100px;
}
.container #sidebar {
  width: 250px;
}
.container {}
#logoArea .navbar-inner {
  width: 1100px;
  margin: 0 auto;
}
.thumbnails li{
  //width: 800px;
  margin-left: 0 !important;
  margin-right: 3px;
}
.thumbnail {
  height: 330px;
}
.thumbnail .image-container img {
  width: 160px;
  height: 160px;
}

.thumbnail>a{display:block; text-align:center}
.thumbnail h5,.thumbnail p{text-align:center}
.thumbnail .caption h4 {text-align:center}
.thumbnail .caption h4 a {margin-left: 4px}
.thumbnail a.image-container {margin-top: 8px}

